In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\sigal\OneDrive - post.bgu.ac.il\sigal\submissions\journal\data\taxifull\train.csv',nrows=300000)
data.shape

(300000, 9)

In [2]:
data.head(100)

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."
5,1372636965620000231,C,NaN,NaN,20000231,1372636965,A,False,"[[-8.615502,41.140674],[-8.614854,41.140926],[..."
6,1372637210620000456,C,NaN,NaN,20000456,1372637210,A,False,"[[-8.57952,41.145948],[-8.580942,41.145039],[-..."
7,1372637299620000011,C,NaN,NaN,20000011,1372637299,A,False,"[[-8.617563,41.146182],[-8.617527,41.145849],[..."
8,1372637274620000403,C,NaN,NaN,20000403,1372637274,A,False,"[[-8.611794,41.140557],[-8.611785,41.140575],[..."
9,1372637905620000320,C,NaN,NaN,20000320,1372637905,A,False,"[[-8.615907,41.140557],[-8.614449,41.141088],[..."
10,1372636875620000233,C,NaN,NaN,20000233,1372636875,A,False,"[[-8.619894,41.148009],[-8.620164,41.14773],[-..."
11,1372637984620000520,C,NaN,NaN,20000520,1372637984,A,False,"[[-8.56242,41.168403],[-8.562429,41.168358],[-..."
12,1372637343620000571,A,31508.0,NaN,20000571,1372637343,A,False,"[[-8.618868,41.155101],[-8.6175,41.154912],[-8..."
13,1372638595620000233,C,NaN,NaN,20000233,1372638595,A,False,"[[-8.608716,41.153499],[-8.607627,41.153481],[..."
14,1372638151620000231,C,NaN,NaN,20000231,1372638151,A,False,"[[-8.612208,41.14053],[-8.612235,41.140521],[-..."
15,1372637610620000497,B,NaN,13.0,20000497,1372637610,A,False,"[[-8.585145,41.164857],[-8.584146,41.164704],[..."
16,1372638481620000403,B,NaN,28.0,20000403,1372638481,A,False,"[[-8.584263,41.163156],[-8.584695,41.163003],[..."
17,1372639135620000570,A,33180.0,NaN,20000570,1372639135,A,False,"[[-8.666757,41.174055],[-8.666784,41.174064],[..."
18,1372637482620000005,C,NaN,NaN,20000005,1372637482,A,False,"[[-8.599239,41.149188],[-8.598681,41.149296],[..."
19,1372639181620000089,C,NaN,NaN,20000089,1372639181,A,False,"[[-8.643807,41.168979],[-8.642529,41.170113],[..."
20,1372638161620000423,C,NaN,NaN,20000423,1372638161,A,False,"[[-8.609706,41.151303],[-8.609562,41.151474],[..."
21,1372637254620000657,A,39233.0,NaN,20000657,1372637254,A,False,"[[-8.660646,41.168574],[-8.661087,41.167926],[..."
22,1372638502620000320,C,NaN,NaN,20000320,1372638502,A,False,"[[-8.612955,41.140377],[-8.612991,41.140359],[..."
23,1372639960620000309,B,NaN,38.0,20000309,1372639960,A,False,"[[-8.60418,41.160969],[-8.603874,41.1615],[-8...."
24,1372637658620000596,A,22864.0,NaN,20000596,1372637658,A,False,"[[-8.665686,41.170626],[-8.665677,41.170653],[..."
25,1372639092620000233,C,NaN,NaN,20000233,1372639092,A,False,"[[-8.632737,41.168295],[-8.6328,41.16825],[-8...."
26,1372639535620000161,A,25862.0,NaN,20000161,1372639535,A,False,"[[-8.648226,41.148333],[-8.648514,41.148297],[..."
27,1372640499620000596,C,NaN,NaN,20000596,1372640499,A,False,"[[-8.638227,41.159592],[-8.637543,41.15925],[-..."
28,1372639635620000178,B,NaN,52.0,20000178,1372639635,A,False,"[[-8.613243,41.154444],[-8.612811,41.153733],[..."
29,1372640555620000235,C,NaN,NaN,20000235,1372640555,A,False,"[[-8.611065,41.149431],[-8.611209,41.149368],[..."
...,...,...,...,...,...,...,...,...,...
70,1372641048620000560,A,40433.0,NaN,20000560,1372641048,A,False,"[[-8.578683,41.145777],[-8.579448,41.146488],[..."
71,1372643656620000492,C,NaN,NaN,20000492,1372643656,A,False,"[[-8.605017,41.161221],[-8.605188,41.160807],[..."
72,1372641858620000154,A,21875.0,NaN,20000154,1372641858,A,False,"[[-8.623152,41.164191],[-8.623422,41.164227],[..."
73,1372638303620000112,A,63882.0,NaN,20000112,1372638303,A,False,"[[-8.587116,41.162427],[-8.586198,41.162112],[..."
74,1372642071620000305,C,NaN,NaN,20000305,1372642071,A,False,"[[-8.64513,41.165604],[-8.648802,41.163471],[-..."
75,1372644235620000520,C,NaN,NaN,20000520,1372644235,A,False,"[[-8.611569,41.150385],[-8.61201,41.150331],[-..."
76,1372644270620000173,C,NaN,NaN,20000173,1372644270,A,False,"[[-8.61147,41.150376],[-8.611893,41.150313],[-..."
77,1372642569620000004,B,NaN,18.0,20000004,1372642569,A,False,"[[-8.61984,41.148009],[-8.619849,41.148009],[-..."
78,1372638158620000620,C,NaN,NaN,20000620,1372638158,A,False,"[[-8.611128,41.149485],[-8.611011,41.149287],[..."
79,1372637728620000671,C,NaN,NaN,20000671,1372637728,A,False,"[[-8.617041,41.150367],[-8.616879,41.15007],[-..."
80,1372637423620000341,C,NaN,NaN,20000341,1372637423,A,False,"[[-8.606493,41.14458],[-8.606943,41.144814],[-..."
81,1372639364620000015,C,NaN,NaN,20000015,1372639364,A,False,"[[-8.628336,41.157738],[-8.628336,41.157765],[..."
82,1372644476620000307,C,NaN,NaN,20000307,1372644476,A,False,"[[-8.610804,41.144886],[-8.610804,41.144895],[..."
83,1372641724620000435,C,NaN,NaN,20000435,1372641724,A,False,"[[-8.606403,41.144472],[-8.607078,41.144841],[..."
84,1372638031620000171,C,NaN,NaN,20000171,1372638031,A,False,"[[-8.618886,41.155281],[-8.618913,41.155236],[..."
85,1372639380620000201,A,33597.0,NaN,20000201,1372639380,A,False,"[[-8.620245,41.151015],[-8.620848,41.150853],[..."
86,1372637754620000007,C,NaN,NaN,20000007,1372637754,A,False,"[[-8.645373,41.008275],[-8.645427,41.00886],[-..."
87,1372639475620000199,C,NaN,NaN,20000199,1372639475,A,False,"[[-8.586387,41.149179],[-8.587422,41.149197],[..."
88,1372638266620000611,C,NaN,NaN,20000611,1372638266,A,False,"[[-8.587602,41.137731],[-8.587548,41.137569],[..."
89,1372642553620000167,C,NaN,NaN,20000167,1372642553,A,False,"[[-8.674119,41.153868],[-8.673939,41.154336],[..."
90,1372641721620000686,B,NaN,23.0,20000686,1372641721,A,False,"[[-8.612532,41.145939],[-8.612118,41.146029],[..."
91,1372640550620000233,A,23799.0,NaN,20000233,1372640550,A,False,"[[-8.619327,41.156064],[-8.619201,41.155479],[..."
92,1372643195620000372,C,NaN,NaN,20000372,1372643195,A,False,"[[-8.628228,41.165181],[-8.628246,41.165046],[..."
93,1372644253620000574,C,NaN,NaN,20000574,1372644253,A,False,"[[-8.640792,41.149026],[-8.640126,41.146227],[..."
94,1372637715620000398,C,NaN,NaN,20000398,1372637715,A,False,"[[-8.611965,41.154129],[-8.611956,41.154219],[..."
95,1372637247620000067,C,NaN,NaN,20000067,1372637247,A,False,"[[-8.628858,41.160969],[-8.628534,41.160942],[..."
96,1372644655620000520,C,NaN,NaN,20000520,1372644655,A,False,"[[-8.603631,41.146542],[-8.604288,41.146389],[..."
97,1372644436620000112,C,NaN,NaN,20000112,1372644436,A,False,"[[-8.602821,41.143239],[-8.601813,41.141241],[..."
98,1372642990620000503,B,NaN,47.0,20000503,1372642990,A,False,"[[-8.654778,41.173533],[-8.654418,41.173866],[..."
99,1372643825620000569,C,NaN,NaN,20000569,1372643825,A,False,"[[-8.610381,41.153634],[-8.610417,41.153607],[..."

Filter only valid records

In [9]:
data = data[~data['MISSING_DATA'] ] #remove records with missing data
data = data[data['POLYLINE'].str.len()>8]
data = data[((data['POLYLINE'].str.find('-8.5')>0) | (data['POLYLINE'].str.find('-8.6')>0) )]
data = data[((data['POLYLINE'].str.find('41.1')>0) )]
#data = data.reindex()

In [10]:
data.shape

(297964, 9)

Converting the data to record per point

In [11]:
import datetime
from datetime import timedelta
import numpy as np
def splitPolyline(poly,d,trip,taxi,dayType):
    x = [r.split(',') for r in poly.replace('[[','').replace(']]','').split('],[')]
    x= np.asmatrix(x) #convert polyline to matrix of points
    x=pd.DataFrame(x.astype('float').round(2)) #discretize to 2 digits after the dot
    x.columns = ['lon','lat']
    x['timestamp'] =  timedelta(seconds=15) * x.index.values + datetime.datetime.fromtimestamp(d)#calculate timestamp
    x = x[0:len(x)-1:4].append(x.loc[len(x)-1]) # sample every fourth record, and the destination record
    x['TRIP_ID'] = trip
    x['TAXI_ID'] = taxi
    x['DAY_TYPE'] = dayType
    return x;

In [12]:
data1=[]
for i in range(len(data)):#loading 300000 first trips
    rec = data.iloc[i]
    newData = splitPolyline(rec['POLYLINE'],rec['TIMESTAMP'],rec['TRIP_ID'],rec['TAXI_ID'],rec['DAY_TYPE'])
    # Filter a 20km*20km grid (-8.6,41.1),(-8.4,41.3)
    #newData = newData[(newData['lon']>=-8.6) & (newData['lon']<=-8.4) & (newData['lat']>=41.1) & (newData['lat']<=41.3)]
    if newData is not None:
        if (i==1):
            data1 = newData
        else:
            data1=data1.append(newData)  
data1.shape

(3839680, 6)

number of states for the loaded data:

In [ ]:
len(set(data1['lon'].astype('str')+'_'+data1['lat'].astype('str')))

filtering a 20km*20km grid

In [20]:
data2 = data1[(data1['lon']>-8.65) & (data1['lon']<=-8.57) & (data1['lat']>=41.13) & (data1['lat']<=41.18)]
data2.shape

(2790775, 6)

This is the number of states in the filtered area

In [19]:
len(set(data2['lon'].astype('str')+'_'+data2['lat'].astype('str')))

40

In [27]:
data2.to_csv(r'C:\Users\sigal\OneDrive - post.bgu.ac.il\sigal\submissions\journal\data\Taxi_300000_FixedGrid.txt.gz',index=False,compression='gzip')